/*
   sábado, 6 de novembro de 202114:53:59
   User: 
   Server: DESKTOP-J2S1BAG
   Database: OpenHealth
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Exame ADD
	NomeArquivo varchar(500) NULL
GO
ALTER TABLE dbo.Exame SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Exame', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Exame', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Exame', 'Object', 'CONTROL') as Contr_Per 